.dice{
    background:rgb(117, 29, 175);
    height: 23%;
    position: relative;
    @media only screen and (max-width:800px){
        height: 25%;
    }
}

.roll-instructions{
    font-style: italic;
    font-size: 0.8em;
}

.instructions-video{
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
    background: red;
    padding: 5px;
    color:white;

    &:focus{
        color:white;
    }
}


.game-buttons{
    // @media only screen and (max-width:800px){
    //     height:50%;
    // }
    width: 100%;

    

    .roll-dice{
        cursor: pointer;
        background: linear-gradient(to right, rgb(171, 207, 247) , rgb(0, 122, 255));
        border-radius: 25px;
        font-weight: 600;
        color:white;

        
        &:focus{
            outline: none;
        }
        
    }
}