.dice{
    background:rgb(117, 29, 175);
    height: 220px;
    position: relative;
    padding:10px 0;
}



.game-buttons{
    position: absolute;
    bottom: 0;
    width: 100%;

    .rolls-left{
        background: linear-gradient(to right, rgb(181, 126, 218) , rgb(119, 7, 153));
        color:white;
        font-weight: 800;
        border-radius: 55px
    }

    .roll-dice{
        cursor: pointer;
        background: linear-gradient(to right, rgb(171, 207, 247) , rgb(0, 122, 255));
        border-radius: 25px;
        font-weight: 600;
        color:white;

        
        &:focus{
            outline: none;
        }
        
    }
}